Maemo-Flags: visible
Maemo-Display-Name: Muon
Bugtracker: https://github.com/slaeshjag/Muon/issues
Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A
 /wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB90CEBMnEea4LhAAAAAZdEVYdENv
 bW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAAiElEQVRo3u2XUQrAIAhA3ehyHabTdBiP137H
 YLDMMR3vfUYojzRLBAAAAADSss1sriLjuqaTMbxjFkPCcyIXVmLuloTthVKwxtyz90BxOP6RVqBm
 PoGWuYT6pGSPJKDG8tIIAk8HzF1jrw69X16jCCCAAAIIIIAAAl/+yDye3SEFVAAAAADCcwCTlhBm
 V6UTlAAAAABJRU5ErkJggg==
