XSBC-Maemo-Display-Name: Muon
XSBC-Bugtracker: https://github.com/slaeshjag/Muon/issues
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABmJLR0QA/wD/
 AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3AsNCCcvU5VB
 vAAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAB7SURB
 VFjD7ZbbCcAgDEVTyXIO4zQOk/HaXxEfmNreUu75E5JwMIkoQgiYozxEkbMO
 sCpmlVlNbSSUgVsY1QythPTAVfdqBvQMqKeHrwlE5A0kZAvy4mDlnQLmWK07
 K6ueR6c3mJ5HC76GFKAABShAge//iEZkpIAJ+QkXaJYQZiBdKvwAAAAASUVO
 RK5CYII=
