XB-Maemo-Display-Name: Muon
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABmJLR0QA/wD/AP+gvaeTAAAACXBI
 WXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3AsNCCcvU5VBvAAAABl0RVh0Q29tbWVudABDcmVhdGVk
 IHdpdGggR0lNUFeBDhcAAAB7SURBVFjD7ZbbCcAgDEVTyXIO4zQOk/HaXxEfmNreUu75E5JwMIko
 QgiYozxEkbMOsCpmlVlNbSSUgVsY1QythPTAVfdqBvQMqKeHrwlE5A0kZAvy4mDlnQLmWK07K6ue
 R6c3mJ5HC76GFKAABShAge//iEZkpIAJ+QkXaJYQZiBdKvwAAAAASUVORK5CYII=
 